@font-face {
    font-family: myFirstFont;
    src:url('baccer.ttf');
    font-weight: bold;
}
@font-face{
    font-family:opensans light;
    src:url('OpenSans-Light-webfont.woff');
    font-weight: bold;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 微软雅黑;
    font-size:10px;
    line-height: 1.7em;
    color: #fff;
    margin:0;
    padding:0;
    height:auto;
    background-color: #273547 !important;
}
ul,li{
    margin:0;
    padding: 0;
    list-style-type: none;
    display: block;
}
a:link{
    text-decoration: none;
}
.global-container{
    position:relative;
    margin:auto;
    width:100%;
    height: auto;
}
.gc-part-one-container{
    width:100%;
    position: relative;
    background: #0b0b1c;
    height: auto;
    padding-top: 4px;
}
.gc-top-container{
    width:100%;
    position:relative;
    height: 55px;
}
.gc-top-li{
    height:52px;
    line-height: 52px;
    width:190px;
    box-sizing: border-box;
    list-style: none;
    position: absolute;
    color: #6d7986;
}
.position-1{
    left:20px;
}
.position-2{
    width:270px;
    right:50px;
    /*border:solid 1px green;*/
}
.usr-info-salutation{
    display: flex;
    align-items: center;
}

.usr-info-li{
    /*border:solid 1px green;*/
    box-sizing: border-box;
    height:60px;
    height:57px;
    line-height: 57px;
    text-align: center;
    font-size: 1.17rem;
    font-family: "opensans light";
}

.usr-info-li a:visited{
    color: #cb2d21;
}
.usr-info-li a:hover{
    color:#fff;
    /*text-shadow: 0 0 2px #bceeca;*/
}
.wd-160{
    width:160px;
}
.wd-70{
    width:70px;
}
li .usr-info-icon{
    height:57px;
    line-height: 57px;
}
.row-top{
    line-height: 50px;
    /*border:solid 1px green;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:60px;
    height:52px;
    position: absolute;
    cursor: pointer;
}
.gc-top-cont-home{
    /*left:120px;*/
    background: url("../img-mainpage/home.png") no-repeat center ;
    /*padding-left: 10px;*/
}
.gc-top-cont-desc{
    position: absolute;
    left:54px;
    color: #fff;
    font-size: 1.6em;
    font-family: 微软雅黑;
}
.gc-top-cont-usr{
    background: url("../img-mainpage/usr.png") no-repeat center ;
}
.gc-top-cont-usr:hover{
    background: url("../img-mainpage/user-hover.png") no-repeat center ;
}