@charset "utf-8";
/*********************************响应式样式表***********/

@media screen and (min-width: 1280px) and (max-width: 1440px) {
    /*左边菜单部分*/
    .main-menu li{
        font-size: 16px !important
    }

    /*顶部信息*/
    /*.top{*/
    /*font-size: 14px !important;*/
    /*}*/

    /*.top strong,*/
    /*.top .message{*/
    /*font-size: 16px;*/
    /*}*/

    /*.top .exit{*/
    /*font-size: 12px !important;*/
    /*padding: 5px 10px*/
    /*}*/


    .top-bar h3{
        font-size: 20px !important;
    }

    /*引导页及登陆相关页面*/
    /*.entrance .item{*/
    /*width: 150px;*/
    /*height: 150px;*/
    /*background-size: 150px 150px;*/
    /*font-size: 18px*/
    /*}*/

    /*.entrance .item a{*/
    /*width:150px;*/
    /*height:150px;*/
    /*line-height:150px;*/
    /*}*/

    /*.entrance .item .hover{*/
    /*width:220px;*/
    /*height: 220px;*/
    /*background-size: 220px 220px;*/
    /*left:-43px;*/
    /*top: -20px;*/
    /*}*/

    /*.entrance .cs{*/
    /*left: 10px;*/
    /*top: 0px*/
    /*}*/

    /*.entrance .tp{*/
    /*left: 10% !important;*/
    /*bottom: 25% !important*/
    /*}*/

    /*.entrance .as{*/
    /*left: 30% !important;*/
    /*top: 0 !important*/
    /*}*/

    /*.entrance .ac{*/
    /*top: 5% !important*/
    /*}*/

    /*账户设置页面*/

    .as-form{
        width: 600px !important;
        margin-left: -200px !important
    }

    .as-form .as-form-inner .as-form-content .basedata li.h:nth-child(even) {
        margin-right: 20px !important;
    }

    .as-form .as-form-inner .as-form-content .basedata li.h {
        width: 240px !important;
    }
}

@media screen and (max-width: 1560px){
    .line-bar strong {
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 0.88em;
    }
    .tp-content .row {
        padding: 20px 10px;
        margin-top: 60px;
    }
    .sm_col1{
        width: 100% !important;
        padding: 10px 0;
    }
    .sm_row{
        padding: 0 !important;
    }
    .comments {
        height: 190px;
    }
    .comments textarea {
        height: 150px;
    }
    .top .diy_select {
        min-width: 120px;
        display: inline-block;
        font-size: 15px;
        padding: 0 !important
    }

    .top .diy_select_txt{
        display: inline-block;
    }

    .top .diy_select .diy_select_btn{
        right: -20px
    }

    .top .diy_select .diy_select_list{
        padding: 0
    }
    /*trade input*/
    .select-item span{
        font-size: 0.8em;
    }
    /*智能投资导航的文字*/
    .asset-type-box .middle-box .tips {
        font-size: 0.9em;
    }
    /*策略实验室执行状态文字*/
    .used_box{
        font-size: 1em;
    }
    /*智能投资马上交易上边距*/
    .ac-details-bar .rd-middle {
        margin-top: 15px;
    }

}
@media screen and (max-width: 1440px){
    .top .exit{
        font-size: 12px !important;
        padding: 5px 10px;
        min-height: 30px;
        min-width: 70px;
        overflow: hidden;
    }
}
@media screen and (max-width: 1280px) {
    .entrance .item{
        width: 150px;
        height: 150px;
        background-size: 150px 150px;
        font-size: 18px
    }

    .entrance .item a{
        width:150px;
        height:150px;
        line-height:150px;
    }

    .entrance .item .hover{
        width:220px;
        height: 220px;
        background-size: 220px 220px;
        left:-43px;
        top: -20px;
    }

    .entrance .cs{
        left: 10px;
        top: 0px
    }

    .entrance .tp{
        left: 10% !important;
        bottom: 25% !important
    }

    .entrance .as{
        left: 30% !important;
        top: 0 !important
    }

    .entrance .ac{
        top: 5% !important
    }


}